mixin footer()
    footer(
            animation
    ).footer
        .footer__center
            .footer__columns
                .footer__columns__left
                    p(
                        animation
                        animation-arrow="bottom"
                    ).footer__copyright © 2021 cash4sms. All rights reserved.
                    .footer__links
                        a(
                            animation
                            animation-arrow="bottom"
                            href=`#`
                        ).footer__links__link Privacy Policy
                        a(
                            animation
                            animation-arrow="bottom"
                            href=`#`
                        ).footer__links__link Cookie Policy
                        a(
                            animation
                            animation-arrow="bottom"
                            href=`#`
                        ).footer__links__link Terms of Use
                .footer__columns__right
                    .footer__contacts
                        p(
                            animation
                            animation-arrow="bottom"
                        ).footer__contacts__headline Contact Us
                        p(
                            animation
                            animation-arrow="bottom"
                        ).footer__contacts__description We’d love to hear from you and answer any <br class="br br_tablet">questions you might have.
                        a(
                            animation
                            animation-arrow="bottom"
                            href="mailto:hello@cash4sms.today"
                        ).footer__contacts__mail hello@cash4sms.today