mixin header()
    header.header
        .header__center
            .header__side
                a(
                    animation
                    animation-arrow="bottom"
                    href=`${url}`
                ).header__logo
                    img(src=`${url}assets/img/logo.svg`).header__logo__picture
            .header__side
                div(
                    animation
                    animation-arrow="bottom"
                ).header__links
                    a(href=`${url}blog/`).header__links__link Blog
                    a(href=`${url}faq/`).header__links__link FAQ
                a(
                    animation
                    animation-arrow="bottom"
                    href=`https://play.google.com/store/apps/details?id=com.cash4sms.android`
                ).header__install Install the app
                .header__burger
                    div(
                        animation
                        animation-arrow="bottom"
                    ).header__burger__lines
                        .header__burger__lines__line
                        .header__burger__menu
                            <svg class="header__burger__menu__corner"  viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.5 0.5L0 6H13L6.5 0.5Z" fill="white"/>
                            </svg>
                            a(href=`${url}blog/`).header__burger__menu__link Blog
                            a(href=`${url}faq/`).header__burger__menu__link FAQ
                    .header__burger__back