extends ../includes/template.pug

block seo
    -
        let title = '' 
        let description = '' 

    title !{title}
    meta(
        name="description"
        property="og:description" 
        content=`${description}`
    )
    <meta name="keywords"       content="" />

    meta(
        property="og:title"
        content=`${title}`
    )
    meta(
        name="twitter:description"
        content=`${description}`
    )
    meta(
        name="twitter:title"
        content=`${title}`
    )

block content
    include ../includes/header.pug
    +header()