extends ../includes/template.pug

block seo
    -
        let title = 'Cash4SMS Terms and Conditions changes from 1 April 2020' 
        let description = 'Cash4SMS terms and conditions changes from 1 April 2020.' 

    title !{title}
    meta(
        name="description"
        property="og:description" 
        content=`${description}`
    )
    <meta name="keywords"       content="" />

    meta(
        property="og:title"
        content=`${title}`
    )
    meta(
        name="twitter:description"
        content=`${description}`
    )
    meta(
        name="twitter:title"
        content=`${title}`
    )

block content
    include ../includes/header.pug
    +header()
    div(
        itemscope itemtype="http://schema.org/Article"
    ).article
        .article__center
            div(
                animation
                animation-arrow="bottom"
            )#bread-crumbs.bread-crumbs.article__bread-crumbs
                ul
                    li.bread-crumbs__crumb
                        a( href=`${url}`) Main
                    li.bread-crumbs__crumb
                        a(href=`${url}blog/`) Blog
                    li.bread-crumbs__crumb Cash4SMS Terms and Conditions changes
            div(
                itemprop="articleBody"
                animation
                animation-arrow="bottom"
            ).article__content
                <div class="article__content__date" itemprop="datePublished">31 March 2020</div>
                <h1 class="article__content__h2" itemprop="headline">Cash4SMS Terms and Conditions changes</h1>
                <p class="article__content__bolder">Dear Users! Please, pay attention to the information below.</p>
                <p class="article__content__paragraph">Starting April 1, 2020, the following changes will be made to Cash4SMS Terms and Conditions.</p>
                <p class="article__content__paragraph">Due to the changes in our contracts with mobile operators, you will receive 3 Eurocents instead of 4 Eurocents for each SMS.</p>
                <p class="article__content__paragraph">However, we've got good news as well!</p>
                <p class="article__content__bolder">We are increasing the limit up to 1500 SMS per month instead of 1000! This way, your maximum income will increase up to 45 euros in one month instead of 40 euros, which you receive now! Happy earning!</p>
                <p class="article__content__caption">Team Cash4SMS</p>
            //- div(
            //-     animation
            //-     animation-arrow="bottom"
            //- ).article__share
            //-     a(
            //-         href="#"
            //-     ).article__share__link
            //-         img(
            //-             src=`${url}assets/img/facebook.svg`
            //-         ).article__share__link__picture
            //-     a(
            //-         href="#"
            //-     ).article__share__link
            //-         img(
            //-             src=`${url}assets/img/twitter.svg`
            //-         ).article__share__link__picture
            //-     a(
            //-         href="#"
            //-     ).article__share__link
            //-         img(
            //-             src=`${url}assets/img/instagram.svg`
            //-         ).article__share__link__picture
    include ../includes/footer.pug
    +footer()